@font-face{ 
	font-family: 'MaPolice';
	src: url('Police/cac_champagne-webfont.eot');
	src: url('Police/cac_champagne-webfont.eot?iefix') format('eot'),
	     url('Police/cac_champagne-webfont.woff') format('woff'),
	     url('Police/cac_champagne-webfont.ttf') format('truetype'),
	     url('Police/cac_champagne-webfont	.svg#webfont') format('svg');
}

body
{
	font-family: "MaPolice", Arial, Helvetica, sans-serif;
	background: url(Fond/Neige.jpg);
	display: flex;
	top: 0px;
	bottom: 0px;
}

.lisere
{
	position: absolute;
	background-color: black;
	width:10%;
	top: 2px;
	bottom: 2px;
	left: 2px;
	border-radius: 10px;
}

.CV
{	position: relative;
	width:89.9%;
	left: 10%;
}

#entete
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.element:nth-child(1)
{
	order: 2;
}

.element:nth-child(2)
{
	flex: 2;
	order: 1;
}

h1, h1 + p
{
	text-align: center;
}

h1
{
	font-size: 80px;
}

h2
{
	color: purple;
	font-size: 60px;
}

p , li
{
	font-size: 40px;
}

#conteneur
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

}