@font-face{ 
	font-family: 'MaPolice';
	src: url('Police/cac_champagne-webfont.eot');
	src: url('Police/cac_champagne-webfont.eot?iefix') format('eot'),
	     url('Police/cac_champagne-webfont.woff') format('woff'),
	     url('Police/cac_champagne-webfont.ttf') format('truetype'),
	     url('Police/cac_champagne-webfont	.svg#webfont') format('svg');
}

h1
{
	font-family: 'MaPolice', Arial, serif;
	font-size : 120px;
}

p
{
	font-family: 'MaPolice', Arial, serif;
	font-size: 35px
}

h2
{
	font-family: 'MaPolice', Arial, serif;
	font-size : 60px;
	color: purple;
}

li
{
	font-family: 'MaPolice', Arial, serif;
	font-size: 35px
}

.photo
{
	float: left;
}

.center
{
	text-align: center;
}
